<nav class="top-nav-desktop">
	<a href="{{ site.github.url }}" class="{% if page.url == '/index' %}current{% endif %}"><span class="site-logo site-logo-inside">RM</span></a>
	<ul class="nav">
		<li>
			<a href="{{ site.github.url }}/training" class="{% if page.url == '/training' %}current{% endif %}">Training</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/gear" class="{% if page.url == '/gear' %}current{% endif %}">Gear</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/dives" class="{% if page.url == '/dives' %}current{% endif %}">Dives</a>
		</li>
	</ul>
</nav>